@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap");

.mainbg {
  min-height: 80vh;
  display: flex;
  padding: 10px 0;
}

.page {
  width: 100%;
}
.hading {
  font-size: 60px;
  font-family: "Work Sans", sans-serif;
  padding: 5px 10px;
}

@media only screen and (max-width: 600px) {
  .hading {
    font-size: 30px;
    font-family: "Work Sans", sans-serif;
    justify-content: center;
  }
}
